
.texto-hero{
  position: absolute;
  top: 200px;
}


.titulo-hero{
  /*
fuente google
 */

    font-family: 'Fredoka One', cursive;
    /*
    fin fuente google
     */
    color: #E91E63;
    font-size: 50px;
}

h4{
  color: #2196F3;
}

.grafico1{
  width: 80%;
  height: 5px;
  background: #9C27B0;
}


